<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/styles/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/home">home</a>
        <a href="/character/my-fav-characters">fav</a>
        <a href="/creatpage">creat</a>
    </header>
    <main>
    <div>



        <form action="/create" method="POST">

            <input type="text" name="name">
            <input type="text" name="house" >
            <input type="text" name="patronus">
            <input type="text" name="alive">
            <input type="submit" value="add to my fav">

        </form>

    </div>
</main>
</body>
</html>


        
